name: ROS2 Continuous Integration

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        include:
          - ros_version: "humble"
            ubuntu_version: "ubuntu-22.04"
          - ros_version: "jazzy"
            ubuntu_version: "ubuntu-24.04"
    runs-on: ${{ matrix.ubuntu_version }}
    steps:
      #
      # Setup the machines and build environment
      #
      - name: Install ROS.
        uses: ros-tooling/setup-ros@0.7.14
        with:
          required-ros-distributions: ${{ matrix.ros_version }}

      #
      # Checkout the current branch
      #
      - uses: actions/checkout@v2

      #
      # Build and test the repo
      #
      - uses: ros-tooling/action-ros-ci@0.4.4
        with:
          package-name: linear_feedback_controller_msgs
          target-ros2-distro: ${{ matrix.ros_version }}
  check:
    if: always()
    name: check-macos-linux-ros
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
